<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<f:variable name="panelClass" value="om-cookie-panel" />
		<f:if condition="{cookiePanel.position}">
			<f:variable name="panelClass" value="{panelClass} om-cookie-panel-position-{cookiePanel.position}" />
		</f:if>
		<f:if condition="{cookiePanel.layout}">
			<f:variable name="panelClass" value="{panelClass} om-cookie-panel-layout-{cookiePanel.layout}" />
		</f:if>
		<div class="{panelClass}" tabindex="-1" data-omcookie-panel="1" data-omcookie-panel-suppress="{f:if(condition: suppressPanel, then:1, else:0)}" role="dialog" aria-modal="true" aria-labelledby="om-cookie-panel__title" aria-describedby="om-cookie-panel__description">
			<div class="cookie-panel__attribution">
				<f:link.typolink target="_blank"
								 additionalAttributes="{tabindex:'-1'}"
								 parameter="https://olli-machts.de">
					<span><f:translate key="tx_omcookiemanager.fe.consent_solution" extensionName="om_cookie_manager" /></span>
					<small> by Olli machts</small>
				</f:link.typolink>
			</div>
			<f:switch expression="{cookiePanel.layout}">
				<f:case value="1">
					<f:comment><!-- Tab Switch view --></f:comment>
					<div class="om-cookie-panel__tabswitch">
						<nav class="om-cookie-panel__tabswitch-btngroup">
							<ul>
								<li>
									<button data-omcookie-panel-target="selection" class="active"><f:translate key="tx_omcookiemanager.fe.tabs.consent" extensionName="om_cookie_manager" /></button>
								</li>
								<li>
									<button data-omcookie-panel-target="info"><f:translate key="tx_omcookiemanager.fe.tabs.details" extensionName="om_cookie_manager" /></button>
								</li>
							</ul>
						</nav>
						<div class="om-cookie-panel__tabswitch-content">
							<div class="om-cookie-panel__tab" data-omcookie-panel-tab="selection">
								<f:render partial="CookiePanel/PanelSelection" arguments="{_all}" />
							</div>
							<div class="om-cookie-panel__tab tab-hidden" data-omcookie-panel-tab="info">
								<f:render partial="CookiePanel/CookieInfo" arguments="{settings:settings, cookieGroups:cookieGroups}" />
							</div>
						</div>
					</div>
					<f:render partial="CookiePanel/ControlButtons" arguments="{_all}"/>
				</f:case>
				<f:defaultCase>
					<f:comment><!-- Default view with Cookie Selection Only --></f:comment>
					<f:render partial="CookiePanel/PanelSelection" arguments="{_all}" />
				</f:defaultCase>
			</f:switch>
		</div>
	</f:section>
</html>
