[data-omcookie-panel-show] {
  cursor: pointer;
}
.om-cookie-panel {
  --om-cookie-panel-active-color: #618105;
  --om-cookie-panel-active-emphasis: #fff;
  --om-cookie-panel-inactive-color: #666;
  --om-cookie-panel-inactive-emphasis: #fff;
  --om-cookie-panel-background: #fff;
  --om-cookie-panel-border-color: #666;
  --om-cookie-panel-border-radius: 5px;
  padding: 15px 25px 25px;
  z-index: 9999;
  background: var(--om-cookie-panel-background);
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  opacity: 0;
  box-sizing: border-box;
  border-top: 1px solid var(--om-cookie-panel-border-color);
  font-size: 16px;
  pointer-events: none;
  transform: translateY(100%) translateX(0);
  transition: transform 0.5s ease, opacity 0.3s;
  text-align: center;
}
@media (min-width: 992px) {
  .om-cookie-panel {
    width: 65vw;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    border-left: 1px solid var(--om-cookie-panel-border-color);
    border-right: 1px solid var(--om-cookie-panel-border-color);
  }
}
@media (min-width: 1200px) {
  .om-cookie-panel {
    width: 50vw;
  }
}
.om-cookie-panel.active {
  pointer-events: auto;
  transform: translateY(0) translateX(0);
  opacity: 1;
}
@media (min-width: 992px) {
  .om-cookie-panel.active {
    transform: translateY(0) translateX(-50%);
  }
}
.om-cookie-panel.om-cookie-panel-position-1 {
  max-height: 80vh;
  overflow-y: auto;
  text-align: left;
}
@media (min-width: 992px) {
  .om-cookie-panel.om-cookie-panel-position-1 {
    border-bottom: 1px solid var(--om-cookie-panel-border-color);
    border-radius: var(--om-cookie-panel-border-radius);
    bottom: 50%;
  }
}
@media (min-width: 992px) {
  .om-cookie-panel.om-cookie-panel-position-1.active {
    transform: translateY(50%) translateX(-50%);
  }
}
@media (min-width: 992px) {
  .om-cookie-panel.om-cookie-panel-layout-1 {
    max-height: none;
  }
}
.om-cookie-panel.om-cookie-panel-layout-1 .om-cookie-panel__tab-content {
  max-height: 30vh;
  overflow: hidden visible;
}
@media (min-width: 992px) {
  .om-cookie-panel.om-cookie-panel-layout-1 .om-cookie-panel__tab-content {
    max-height: 45vh;
  }
}
.om-cookie-panel h3,
.om-cookie-panel h4,
.om-cookie-panel h5 {
  margin: 0;
}
.om-cookie-panel h3 {
  padding: 0 0 1em;
  text-align: left;
}
.om-cookie-panel h4 {
  padding: 0 0 0.75em;
}
.om-cookie-panel h5 {
  padding: 0 0 0.5em;
}
.om-cookie-panel p {
  margin: 0;
  padding: 1em 0;
}
.om-cookie-panel hr {
  margin: 1em 0;
}
.om-cookie-panel p + hr {
  margin-top: 0;
}
.om-cookie-panel .visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}
.om-cookie-panel .cookie-panel__checkbox {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}
.om-cookie-panel .cookie-panel__checkbox + label {
  cursor: pointer;
  line-height: 1.1;
  font-weight: 400;
  display: block;
}
.om-cookie-panel .cookie-panel__checkbox + label::before {
  width: 15px;
  height: 15px;
  border-radius: var(--om-cookie-panel-border-radius);
  border: 2px solid var(--om-cookie-panel-active-color);
  background-color: var(--om-cookie-panel-background);
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
}
.om-cookie-panel .cookie-panel__checkbox + label:has(.checkbox-toggle)::before {
  content: none;
  display: none;
}
.om-cookie-panel .cookie-panel__checkbox + label:has(.checkbox-toggle):not(:has(.visually-hidden)) {
  border: 1px solid;
  padding: 1em;
}
.om-cookie-panel .cookie-panel__checkbox + label .checkbox-toggle {
  background: var(--om-cookie-panel-inactive-color);
  border-radius: 10rem;
  display: block;
  height: 1.75em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  position: relative;
  transition: 0.1s;
  width: 3.2em;
}
.om-cookie-panel .cookie-panel__checkbox + label .checkbox-toggle:first-child {
  margin-top: 0;
}
.om-cookie-panel .cookie-panel__checkbox + label .checkbox-toggle:before {
  background: var(--om-cookie-panel-inactive-emphasis);
  border-radius: 50%;
  content: '';
  display: block;
  height: 1.4em;
  left: 0.19em;
  position: absolute;
  top: 0.2em;
  transition: 0.1s;
  width: 1.4em;
}
.om-cookie-panel .cookie-panel__checkbox:checked + label::before {
  box-shadow: inset 0 0 0 3px var(--om-cookie-panel-background);
  background-color: var(--om-cookie-panel-active-color);
}
.om-cookie-panel .cookie-panel__checkbox:checked + label .checkbox-toggle {
  background: var(--om-cookie-panel-active-color);
}
.om-cookie-panel .cookie-panel__checkbox:checked + label .checkbox-toggle:before {
  left: calc(100% - 0.2rem);
  transform: translateX(-100%);
}
.om-cookie-panel .cookie-panel__checkbox--state-inactiv + label::before {
  border-color: var(--om-cookie-panel-border-color);
}
.om-cookie-panel .cookie-panel__checkbox--state-inactiv:checked + label::before {
  background-color: var(--om-cookie-panel-inactive-color);
}
.om-cookie-panel .cookie-panel__checkbox--state-inactiv + label {
  cursor: not-allowed;
}
.om-cookie-panel .cookie-panel__checkbox--state-inactiv + label .checkbox-toggle {
  filter: saturate(0.3) brightness(1.1);
}
.om-cookie-panel .cookie-panel__checkbox-wrap {
  display: inline-block;
  line-height: 1.1;
  margin-right: 15px;
  position: relative;
}
.om-cookie-panel .cookie-panel__checkbox-wrap:last-child {
  margin-right: 0;
}
.om-cookie-panel .cookie-panel__checkbox-wrap:focus-within {
  box-shadow: inset 0 0 3px 0 var(--om-cookie-panel-border-color);
}
.om-cookie-panel .cookie-panel__description {
  clear: both;
}
.om-cookie-panel .cookie-panel__selection {
  margin: 1.5em 0 0;
}
.om-cookie-panel .cookie-panel__control {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  padding-top: 1em;
  min-width: 100%;
}
.om-cookie-panel .cookie-panel__link {
  padding-top: 1em;
}
.om-cookie-panel .cookie-panel__button {
  background: var(--om-cookie-panel-inactive-color);
  color: var(--om-cookie-panel-inactive-emphasis);
  padding: 5px 10px;
  border: none;
  border-radius: var(--om-cookie-panel-border-radius);
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  text-transform: uppercase;
}
.om-cookie-panel .cookie-panel__button + .cookie-panel__button {
  margin-top: 15px;
}
@media (min-width: 992px) {
  .om-cookie-panel .cookie-panel__button {
    width: auto;
    display: inline-block;
  }
  .om-cookie-panel .cookie-panel__button + .cookie-panel__button {
    margin-top: 0;
  }
}
.om-cookie-panel .cookie-panel__links {
  display: flex;
  margin: 1em -0.5em 0;
}
.om-cookie-panel .cookie-panel__links a {
  color: var(--om-cookie-panel-inactive-color);
}
.om-cookie-panel .cookie-panel__links > .cookie-panel__link {
  padding: 0 0.5em;
}
.om-cookie-panel .cookie-panel__button--color--green {
  background-color: var(--om-cookie-panel-active-color);
  color: var(--om-cookie-panel-active-emphasis);
}
.om-cookie-panel .cookie-panel__attribution {
  text-align: right;
}
.om-cookie-panel .cookie-panel__attribution a {
  color: inherit;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.32;
  text-decoration: none;
}
.om-cookie-panel .cookie-panel__attribution a small {
  display: block;
  font-size: 0.5em;
}
.om-cookie-panel .cookie-panel__attribution:first-child {
  border-bottom: 1px solid #666;
  margin-left: -25px;
  margin-right: -25px;
  padding: 0 25px 0.25em;
  width: auto;
}
.om-cookie-panel .cookie-panel__attribution:last-child {
  position: absolute;
  bottom: 5px;
  right: 25px;
  font-size: 9px;
  font-style: italic;
}
.om-cookie-info table {
  border: 1px solid black;
  border-collapse: collapse;
}
.om-cookie-info table th,
.om-cookie-info table td {
  padding: 10px 5px;
  border: 1px solid black;
}
.om-cookie-info table p {
  margin-top: 0;
}
.om-cookie-info table p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* Tab Switch View */
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-btngroup ul {
  border-bottom: 1px solid #666;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  list-style: none;
  margin: 0 -25px 1.5em;
  padding: 0 25px;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-btngroup ul li {
  min-width: 25%;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-btngroup ul button {
  background: #666;
  border: 1px solid #666;
  border-bottom: 0 none;
  border-radius: var(--om-cookie-panel-border-radius) var(--om-cookie-panel-border-radius) 0 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 0.5em;
  padding: 5px 10px;
  width: 100%;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-btngroup ul button.active {
  background: var(--om-cookie-panel-background);
  border-color: #666;
  border-bottom: 2px solid var(--om-cookie-panel-background);
  color: #666;
  margin-bottom: -1.9px;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .tab-hidden {
  display: none;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .om-cookie-panel__tab[data-omcookie-panel-tab="info"] {
  text-align: left;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .cookie-panel__group {
  position: relative;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .cookie-panel__group > :first-child {
  padding-right: 1.5rem;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .cookie-panel__group .cookie-panel__group__checkbox-container {
  float: right;
  padding: 1em 0 1em 2em;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .cookie-panel__group .panel__group__cookie-toggle {
  align-items: center;
  background: #eee;
  border: 1px solid #666;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5rem;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .cookie-panel__group .panel__group__cookie-toggle:before {
  border-top: 2px solid var(--om-cookie-panel-inactive-color);
  border-right: 2px solid var(--om-cookie-panel-inactive-color);
  content: '';
  display: block;
  height: 0.6em;
  margin-left: -0.3em;
  position: relative;
  transform: rotate(45deg);
  transition: transform 0.1s;
  width: 0.6em;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .cookie-panel__group .panel__group__cookie-toggle.active:before {
  transform: rotate(135deg);
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .cookie-panel__group .panel__group__cookie-toggle.active ~ .cookie-panel__group__cookie {
  display: block;
  opacity: 1;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .cookie-panel__group + .cookie-panel__group {
  border-top: 1px solid var(--om-cookie-panel-border-color);
  margin-top: 1.5em;
  padding-top: 1.5em;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .cookie-panel__group + .cookie-panel__group .panel__group__cookie-toggle {
  top: 1.5em;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .cookie-panel__group__cookie {
  background: #eee;
  border: 1px solid var(--om-cookie-panel-border-color);
  border-radius: var(--om-cookie-panel-border-radius);
  display: none;
  opacity: 0;
  padding: 1em;
  transition: opacity 0.2s;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .cookie-panel__group__cookie + .cookie-panel__group__cookie {
  margin-top: 0.5em;
}
.om-cookie-panel__tabswitch .om-cookie-panel__tabswitch-content .cookie-panel__group__cookie p:first-of-type {
  padding-top: 0;
}
/*# sourceMappingURL=cookie_panel.css.map */