<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for CookieGroup</h1>

		<f:flashMessages />

		<table  class="tx_omcookiemanager" >
			<tr>
				<th><f:translate key="tx_omcookiemanager_domain_model_cookiegroup.name" /></th>
				<th><f:translate key="tx_omcookiemanager_domain_model_cookiegroup.description" /></th>
				<th><f:translate key="tx_omcookiemanager_domain_model_cookiegroup.essential" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{cookieGroups}" as="cookieGroup">
				<tr>
					<td><f:link.action action="show" arguments="{cookieGroup : cookieGroup}"> {cookieGroup.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{cookieGroup : cookieGroup}"> {cookieGroup.description}</f:link.action></td>
					<td><f:link.action action="show" arguments="{cookieGroup : cookieGroup}"> {cookieGroup.essential}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{cookieGroup : cookieGroup}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{cookieGroup : cookieGroup}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New CookieGroup</f:link.action>
	</f:section>
</html>